
@{
    ViewBag.Title = "Order Failed";
}
<div class="text-center">
    <h2>Order of tokens Failed</h2>
    <br />
    <h4>Possible errors:</h4>
    <p>
        <ul>
            <li>Daily limit reached</li>
            <li>Insufficient funds</li>
            <li>Maximum numbers of retries reached</li>
            <li>Transaction timeout</li>
            <li>Charging failed</li>
            <li>The recipient has no credits</li>
            <li>Transaction aborted by new request</li>
        </ul>
    </p>

</div>
