
@{
    ViewBag.Title = "Order Successful";
}

<h2 align="center" style="margin-top:40px; margin-bottom:40px">Order is successfuly finished. You can see your new number of Tokens on your profile</h2>



